<html>
  <head>
    <meta charset="utf-8">
    <title>Tandem</title>
  </head>
  <body>
    <div class=search>
      <form>
        <input type="text" name="to" placeholder="To">
        <input type="text" name="from" placeholder="From">
        <input type="submit" name="button">
      </form>
    </div>

    <div class="numberOfRides">
      <h2>{{numberOfRides}} rides from {{from}} to {{to}}</h2>
    </div>

    <div class="container">
      {{#each listing}}
        <div class="listing">
          <h3>{{this.date}} - {{this.time}}</h3>
          <h4>{{this.from}} - {{this.to}}</h4>
          <p>{{this.name}}</p>
        </div>
      {{/each}}
    </div>

<script src="bundle.js"></script>

  </body>
</html>
