<div id="liftInfo">
Origin:
{{origin}}
Destination:
{{destination}}
Date of Departure:
{{date}}
Time of Departure:
{{time}}
Listing ID:
{{listingID}}
Message to driver:
<input type="text" name="request ride message">Type message here</input>
</div><br>
<button id="{{listingID}}" class="rideConfirm">Confirm Your Ride</button>
<script src="/javascript/bundle.js"></script>
