
<div id='singleListingPage'>
<h1 class="singleListHeading">{{userID}}'s listing</h1>
<div class="detailsContainer">
  <p id="origin">Origin: {{origin}}</p>
  <p id="destination">Destination: {{destination}}</p>
  <p id="date">Date: {{date}}</p>
</div>
<div class="description">
  <h4>Description:</h4>
  <p>{{description}}</p>

<div class="singleListing">
  {{#each data}}
    <h1 class="singleListHeading">{{this.name}}'s listing</h1>
    <br>
    <h4>{{this.origin}} - {{this.destination}}</h4>
    <p><strong>Driver:</strong></p><p>{{this.name}}</p>

    <p><strong>Date: </strong></p><p>{{this.dateTime}}{{this.time}}</p>
    <p>{{this.gender}}</p>
    <p>{{this.age}}</p>
    <p>I've held my driver's licence for {{this.driverLicenceDuration}} years</p>
    <br>
    <h3>Description</h3>
    <p>{{this.description}}

  {{/each}}

</div>


<div class="commentContainer">
  <div id="appendedComments"></div>

  <form action="/commentOnListing" class="" method="post">
    <textarea id="commentReply" name="comment" rows="8" cols="40"></textarea>
    <input id="listingID" type="hidden" name="listingID" value="{{listingID}}">
    <input type="submit" name="name" value="comment" id="commentSubmit">
  </form>

  <div class="">
    {{{listingComment}}}
  </div>
</div>
<!-- <div class="requestToBook"> -->
<section id="requestRide">
  <button type="button" id="requestRide" name="requestRide">Request a Ride</button>
<
</div>
