  <div class="singleListing">

      <h1 class="singleListHeading">{{data.name}}'s listing</h1>
      <br>
      <h4>{{data.origin}} - {{data.destination}}</h4>
      <p><strong>Driver:</strong> {{data.name}}</p>

      <p><strong>Date: </strong>{{data.dateTime}}{{data.time}}</p>
      <p>Gender: {{data.gender}}</p>
      <p>Age: {{data.age}}</p>
      <p>I've held my driver's licence for {{data.driverLicenceDuration}} years</p>
      <br><br>
      <h3>Description.....</h3>
      <p>{{data.description}}</p>
  </div>

  <div class="commentContainer">
    <div id="appendedComments">
      <div>
      	<ul>
      	{{#each comments}}
      		<li>
      		  Listing ID: {{this.listingID}}: Comment: {{this.comment}}
      		</li>
      	{{/each}}
      </ul>
      </div>
  </div>
      <textarea id="commentReply" rows="8" cols="40"></textarea>
      <button data-listingId={{this.listingID}} id="commentSubmit">Comment</button>
  </div>

<section id="requestRide">
  <button type="button" id="requestRide" name="requestRide">Request a Ride</button>
</section>
