<h1 class="singleListHeading">{{userID}}'s listing</h1>
<div class="detailsContainer">
  <p id="origin">Origin: {{origin}}</p>
  <p id="destination">Destination: {{destination}}</p>
  <p id="date">Date: {{date}}</p>
</div>
<div class="description">
  <h4>Description:</h4>
  <p>{{description}}</p>
</div>
<br/>
<div class="commentContainer">
  <textarea id="commentReply" name="comment" rows="8" cols="40"></textarea>
  <button type="button" name="reply">reply</button>
</div>
<div class="requestToBook">
  <button type="button" name="requestToBook">Request a Ride</button>
</div>
