{{#each data}}
  <div class="singleListing">

      <h1 class="singleListHeading">{{this.name}}'s listing</h1>
      <br>
      <h4>{{this.origin}} - {{this.destination}}</h4>
      <p><strong>Driver:</strong> {{this.name}}</p>

      <p><strong>Date: </strong>{{this.dateTime}}{{this.time}}</p>
      <p>Gender: {{this.gender}}</p>
      <p>Age: {{this.age}}</p>
      <p>I've held my driver's licence for {{this.driverLicenceDuration}} years</p>
      <br><br>
      <h3>Description.....</h3>
      <p>{{this.description}}</p>
  </div>

  <div class="commentContainer">
    <div id="appendedComments"></div>
      <p>{{this.comment}}</p>

      <textarea id="commentReply" rows="8" cols="40"></textarea>
      <button data-listingId={{this.listingID}} id="commentSubmit">Comment</button>


  </div>
{{/each}}

<section id="requestRide">
  <button type="button" id="requestRide" name="requestRide">Request a Ride</button>
</section>
