<div class="single-listing-container"> 
  <div class="singleListing">

    <h1 class="singleListHeading">{{data.name}}'s listing</h1>
    <br>
    <h4>{{data.origin}} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> <span class="destination">{{data.destination}}</span></h4>
    <p><span class="bold-text">Driver: </span> {{data.name}}</p>

    <p><span class="bold-text">Date: </span>{{data.dateTime}}{{data.time}}</p>
    <p><span class="bold-text">Gender: </span>{{data.gender}}</p>
    <p><span class="bold-text">Age: </span>{{data.age}}</p>
    <p>I've held my driver's licence for {{data.driverLicenceDuration}} years</p>
    <br><br>
    <h5>Description</h5>
    <p>{{data.description}}</p>
  </div>

  <div class="commentContainer">
    <textarea id="commentReply" rows="8" cols="40"></textarea>
    <button data-listingId={{this.listingID}} id="commentSubmit">Comment</button>
    <div id="appendedComments">
      <div>
       <ul>
         {{#each comments}}
         <li>
          Listing ID: {{this.listingID}}: Comment: {{this.comment}}
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<section id="requestRide">
  <button type="button" id="requestRide" name="requestRide">Request a Ride</button>
</section>

</div> <!-- end single list container -->