<div class="singleListing">
  {{#each data}}
    <h1 class="singleListHeading">{{this.name}}'s listing</h1>
    <br>
    <h4>{{this.origin}} - {{this.destination}}</h4>
    <p><strong>Driver:</strong> {{this.name}}</p>

    <p><strong>Date: </strong>{{this.dateTime}}{{this.time}}</p>
    <p>Gender: {{this.gender}}</p>
    <p>Age: {{this.age}}</p>
    <p>I've held my driver's licence for {{this.driverLicenceDuration}} years</p>
    <br><br>
    <h3>Description.....</h3>
    <p>{{this.description}}

  {{/each}}

</div>


<div class="commentContainer">
  <div id="appendedComments"></div>

  <form action="/commentOnListing" class="" method="post">
    <textarea id="commentReply" name="comment" rows="8" cols="40"></textarea>
    <input id="listingID" type="hidden" name="listingID" value="{{listingID}}">
    <input type="submit" name="name" value="comment" id="commentSubmit">
  </form>

  <div class="">
    {{{listingComment}}}
  </div>
</div>
<!-- <div class="requestToBook"> -->
<section id="requestRide">
  <button type="button" id="requestRide" name="requestRide">Request a Ride</button>

</div>
<script src="/javascript/bundle.js"></script>
