<div>
  <form class=search id="locations" name="searchForm" onsubmit="return validateForm()">
    <input type="text" name="origin" id="origin" placeholder="origin">
    <input type="text" name="destination" id="destination" placeholder="destination">
    <button name="searchButton" id="searchButton">Find</button>
    <p id="alert"></p>
  </form>
</div>

<section id="newRides">

  <div class="numberOfRides">
    <h2>{{numberOfRides}} rides from {{origin}} to {{destination}}</h2>
  </div>

  <div class="container">
    {{#each listing}}
      <div class="listing">
        <h3>{{this.dateTime}} - {{this.time}}</h3>
        <h4>{{this.origin}} - {{this.destination}}</h4>
        <p>{{this.name}}</p>
        <a href="#" id="{{this.listingID}}" class="seeMore">See more</a>
      </div>
    {{/each}}
  </div>
</section>
<script src="/javascript/formValidation.js"></script>
